
#header {
    margin-bottom: 20px;
}

#label {
    width: 500px;
    height: 250px;
    border: solid 1px black;
}

.container {
    display: flex;
  }
  .column {
    flex: 1; /* Mỗi cột chiếm 1 phần bằng nhau */
    padding: 10px;
    border: 1px solid #ddd;
  }

  .col-md-8, .col-md-4 {
    padding: 0px;
    margin-left: 5px;
    border: solid 1px black;
  }

  .column1 {
    width: 30%;
  }

  .row {
    flex-wrap: nowrap;
  }

